[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/vim-smartinput"]
	path = bundle/vim-smartinput
	url = git://github.com/kana/vim-smartinput.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "bundle/gist-vim"]
	path = bundle/gist-vim
	url = git://github.com/mattn/gist-vim.git
[submodule "bundle/webapi-vim"]
	path = bundle/webapi-vim
	url = git://github.com/mattn/webapi-vim.git
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = git://github.com/terryma/vim-multiple-cursors
[submodule "bundle/vim-linemovement"]
	path = bundle/vim-linemovement
	url = git://github.com/yueyoum/vim-linemovement.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git://github.com/bling/vim-airline
[submodule "bundle/vim-signature"]
	path = bundle/vim-signature
	url = git://github.com/kshenoy/vim-signature.git
[submodule "bundle/vim-css-color"]
	path = bundle/vim-css-color
	url = git://github.com/skammer/vim-css-color.git
[submodule "bundle/vim-easyalign"]
	path = bundle/vim-easyalign
	url = git://github.com/junegunn/vim-easy-align.git
